body {
	border: 20px solid #bdc3c7;
	width: 60%;
	margin: 15px auto;
	/*margin: 20px auto;*/
	/*margin: 700px;*/
	/*max-width: 700px;*/
	/*width: 80%;*/
	padding: 20px;
	font-family: Source Sans Pro;
}

div p:nth-of-type(1) {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

div:nth-of-type(2){
	padding-top: 20px;
}

h2 {
	color: #2c3e50;
}

h3 {
	margin-top: auto;
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 5px;
}

hr.style-two { 
	border: 0; 
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}